# Ignorar archivos temporales
*.log
*.tmp

# Ignorar carpetas
capturas/
.vscode/
.venv/
dataset/
__pycache__/
.pytest_cache/

# Ignorar archivos
olist.db
*.pyc
*.pyo
*.pyd   
.python-version
test_queries_quickly.ipynb